@page "/card"

<h1>Shuffle the Cards!</h1>
<button class="btn btn-primary" @onclick="ResetCard">Reset Card</button>
<button class="btn btn-primary" @onclick="ShuffleCard">Shuffle Card</button>
<br />
<br />
<div>
    @{
        for (var i = 0; i < _cardArray.Length; i++)
        {
            <img src="@_cardImage[i]" alt="Cards" width="71" height="111" hspace="1" />
        }
    }
</div>

@code {

    int[] _cardArray = new[] { 1, 2, 3, 4, 5, 6 , 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,
        26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52};

    string[] _cardImage = new string[52];
    string _cardPrefix = "/images/cards/";
    string _cardSuffix = ".png";

    protected override void OnInitialized()
    {
        ResetCard();
    }

    private void ResetCard()
    {
        for (var i = 0; i < _cardArray.Length; i++)
        {
            _cardImage[i] = GetCardPath(i + 1);
        }
    }

    private void ShuffleCard()
    {
        var rnd = new Random();
        var randomCard = _cardArray.OrderBy(x => rnd.Next()).ToArray();

        for (var i = 0; i < _cardArray.Length; i++)
        {
            _cardImage[i] = GetCardPath(randomCard[i]);
        }
    }

    string GetCardPath(int cardValue)
    {
        return $"{_cardPrefix}{cardValue}{_cardSuffix}";
    }
}