@page "/"

@code {
    string _imagePath = $"/images/home/aces.png";
}

<div class="text-center">
    <h1 class="display-4">Welcome Guest!</h1>
    <p>Shuffle 52 cards</p>
    <img src="@_imagePath" alt="Aces" width="612" height="366" />
</div>